@import "tailwindcss";
@config "../../tailwind.config.mjs";

:root {
  /* Base Font Setup */
  --font-sans: var(sans-serif, --font-geist-sans, Arial, Helvetica);
  --font-mono: var(--font-geist-mono, monospace);

  --primary-h: 220;   /* Deep Blue hue */
  --primary-s: 60%;   /* Vivid but not neon */
  --primary-l: 45%;   /* Mid lightness for flexibility */
}

body, header, section{
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.light {
  --background-h: 0;
  --background-s: 0%;
  --background-l: 100%;
  --foreground-h: 0;
  --foreground-s: 0%;
  --foreground-l: 10%;

  --background: hsl(var(--background-h), var(--background-s), var(--background-l));
  --foreground: hsl(var(--foreground-h), var(--foreground-s), var(--foreground-l));

  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l)); /* Primary color */
  --primary-hover: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 12%)); /* Slightly lighter for hover */
  --accent: hsl(var(--primary-h), 80%, 70%); /* Softer accent */
  --muted: hsl(var(--primary-h), 30%, 94%); /* Light, muted color */
  --neutral: hsl(0, 0%, 97%);             /* Lighter neutral background for subtle details */

  --bg-background-1: hsl(var(--primary-h), 20%, 94%);
  --bg-background-2: hsl(var(--primary-h), 30%, 89%);
  --bg-background-3: hsl(var(--primary-h), 15%, 85%);
}

html.dark {
  --background-h: 0;
  --background-s: 0%;
  --background-l: 6%;
  --foreground-h: 0;
  --foreground-s: 0%;
  --foreground-l: 90%;

  --background: hsl(var(--background-h), var(--background-s), var(--background-l));
  --foreground: hsl(var(--foreground-h), var(--foreground-s), var(--foreground-l));
  --primary: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) * 0.75)); /* Darker primary color */
  --primary-hover: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) * 0.85)); /* Slightly lighter for hover */
  --accent: hsl(var(--primary-h), 80%, 50%); /* Deeper accent for dark theme */
  --muted: hsl(var(--primary-h), 25%, 20%); /* Muted tones for dark mode */
  --neutral: hsl(0, 0%, 15%);            /* Dark neutral for subtle details */

  --bg-background-1: hsl(var(--primary-h), 15%, 8%);
  --bg-background-2: hsl(var(--primary-h), 18%, 12%);
  --bg-background-3: hsl(var(--primary-h), 14%, 10%);
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base{
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

}

.bg-primary {
  background-color: var(--primary);
}
.bg-primary-hover {
  background-color: var(--primary-hover);
}
.bg-accent {
  background-color: var(--accent);
}
.bg-muted {
  background-color: var(--muted);
}
.bg-neutral {
  background-color: var(--neutral);
}
.bg-background {
  background-color: var(--background);
}

.bg-background-1 {
  background-color: var(--bg-background-1);
}

.bg-background-2 {
  background-color: var(--bg-background-2);
}

.bg-background-3 {
  background-color: var(--bg-background-3);
}

.bg-foreground {
  background-color: var(--foreground);
}

.text-primary {
  color: var(--primary);
}
.text-primary-hover {
  color: var(--primary-hover);
}
.text-accent {
  color: var(--accent);
}
.text-muted {
  color: var(--muted);
}
.text-neutral {
  color: var(--neutral);
}
.text-foreground {
  color: var(--foreground);
}

.border-primary {
  border-color: var(--primary);
}
.border-accent {
  border-color: var(--accent);
}
.border-muted {
  border-color: var(--muted);
}
.border-neutral {
  border-color: var(--neutral);
}
.border-foreground {
  border-color: var(--foreground);
}

.font-sans-serif{
  font-family: var(--font-sans);
}

.font-mono{
  font-family: var(--font-mono);
}

.bg-grid {
  background-size: 20vw 20vw;
  background-repeat: repeat;
  background-image:
    linear-gradient(to right, hsla(var(--foreground-h), var(--foreground-s), var(--foreground-l), 0.1) 2px, transparent 3px),
    linear-gradient(to bottom, hsla(var(--foreground-h), var(--foreground-s), var(--foreground-l), 0.1) 2px, transparent 3px);
}

@keyframes moveGrid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20vw 20vw;
  }
}

.animate-moveGrid {
  animation: moveGrid 20s linear infinite;
}

.vibrancy-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2); */
}
.vibrancy-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(5px);
  filter: url(#glass-distortion);
  
  overflow: hidden;
  isolation: isolate;
}
.vibrancy-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: hsla(var(--foreground-h), var(--foreground-s), var(--foreground-l), 0.05);
}
.vibrancy-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  box-shadow: inset 2px 2px 1px 0 hsla(var(--background-h), var(--background-s), var(--background-l), 0.5),
  inset -1px -1px 1px 1px hsla(var(--background-h), var(--background-s), var(--background-l), 0.5);
}
.vibrancy-content {
  z-index: 3;
}